<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Permettra de sauvegarder vos photos.</string>
	<key>NSAppleMusicUsageDescription</key>
	<string>Nous avons besoin d&apos;avoir accès à vos photos pour que l&apos;application puisse fonctionner correctement.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Delm-Medium.otf</string>
		<string>ThirstySoftRegular.otf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
</dict>
</plist>
